
<!--Body content-->
<form style="width:400px; margin: 0 auto;">
    <h2>Logga in</h2>
    <div ng-show="changeprotocol" style="margin-bottom: 10px;">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        Du använder osäker anslutning (http://).<br/>
        <a href="https://localhost:8181/bokforing/public/static/#/login">Byt till en säker anslutning</a> (https://).
    </div>
    <div class="alert alert-warning" role="alert" ng-show="form.numErrors > 0">
        {{form.numErrors}} fel hittades!
    </div>

    <div class="form-group">
        <label for="email">E-post adress</label>
        <input id="email" class="form-control input-lg" ng-model="user.email" type="text" placeholder="Ange din e-post adress"/>
    </div>
    <div class="form-group" ng-show="form.errors.email !== null">
        <span class="error">{{form.errors.email}}</span>
    </div>
    <div class="form-group">
        <label for="passwd">Password</label>
        <input id="passwd" class="form-control input-lg" ng-model="user.passwd" type="password" placeholder="Ange ditt lösenord"/>
    </div>
    <div class="form-group" ng-show="form.errors.passwd !== null">
        <span class="error">{{form.errors.passwd}}</span>
    </div>
    <div class="form-group">
        <input type="button" value="Logga in" class="btn btn-primary btn-block" ng-click="login()"/>
    </div>
    <div>
        <a href="#passwdreset">Glömt ditt lösenord?</a>
    </div>
</form>
