<!--Body content-->
<div>
    <div class="row">
        <div class="col-md-5">
            <h2>Sök verifikationer</h2>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        Genom att välja ett konto nedan kan du få upp en lista över alla verifikationer
                        som har en transaktion från eller till det kontot.
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label>Konto</label>
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input class="form-control" type="text" value="{{showaccount}}" readonly>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary" ng-click="open()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-show="!showaccount"></span>
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-show="showaccount"></span>
                                </button>
                            </div>
                        </div> 
                    </div>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:15%;">Nr</th>
                        <th style="width:35%;">Bokföringsdatum</th>
                        <th style="width:23%;">Summa</th>
                        <th style="width:17%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="verification in verifications">
                        <td colspan="5" style="width:100%; padding:0;">
                            <table class="table" style="background:transparent; width:100%; margin:0;">
                                <tr>
                                    <td style="width:15%;">{{verification.id}}</td>
                                    <td style="width:35%;">{{verification.creationDate}}</td>
                                    <td style="width:23%;">{{verification.sum}}</td>
                                    <td style="width:17%;">
                                        <button type="button" class="btn btn-default" ng-click="showver = true" ng-show="!showver">
                                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                                        </button>
                                        <button type="button" class="btn btn-default" ng-click="showver = false" ng-show="showver">
                                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                </tr>
                                <tr ng-show="showver">
                                    <td colspan="4" style="padding: 0;">
                                        <table class="table" style="background:transparent; width:100%; margin:0;">
                                            <tr>
                                                <td><b>Transaktionsdatum</b></td>
                                                <td>{{verification.transactionDate}}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">{{verification.description}}</td>
                                            </tr>
                                            <tr>
                                                <th style="width:50%;">Debet</th>
                                                <th style="width:50%;">Kredit</th>
                                            </tr>
                                            <td style="padding: 0;">
                                                <table class="table" style="background:transparent; width:100%; margin:0;">
                                                    <tr>
                                                        <th style="width:50%;">Konto</th>
                                                        <th style="width:50%;">Summa</th>
                                                    </tr>
                                                    <tr ng-repeat="debitpost in verification.debitposts">
                                                        <td>{{debitpost.accountid}} - {{debitpost.accountname}}</td>
                                                        <td>{{debitpost.sum}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="padding: 0;">
                                                <table class="table" style="background:transparent; width:100%; margin:0;">
                                                    <tr>
                                                        <th style="width:50%;">Konto</th>
                                                        <th style="width:50%;">Summa</th>
                                                    </tr>
                                                    <tr ng-repeat="creditpost in verification.creditposts">
                                                        <td>{{creditpost.accountid}} - {{creditpost.accountname}}</td>
                                                        <td>{{creditpost.sum}}</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination total-items="countverifications" items-per-page="10" ng-model="currentVerPage" max-size="5" class="pagination-sm" boundary-links="true" ng-change="verPageChanged()" ng-show="countverifications > 10"></pagination>
        </div>
        <div class="col-md-7">
            <h2>Manuell bokföring</h2>
            <div class="alert alert-success" role="alert" ng-show="form.numErrors === 0">
                Verifikationen har skapats.
            </div>
            <div class="alert alert-danger" role="alert" ng-show="form.numErrors > 0">
                <h4>{{form.numErrors}} fel hittades.</h4>
                <p>{{form.errors.general}}</p>
                <p>{{form.errors.todo}}</p>
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Datum</label>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="verification.transactionDate" is-open="opened" datepicker-popup="yyyy-MM-dd" datepicker-options="dateOptions" min-date="2014-01-01" max-date="'2015-06-22'"  date-disabled="disabled(date, mode)" ng-required="true"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="opencal($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label>Beskrivning</label>
                    </div>
                    <div class="col-md-9">
                        <textarea class="form-control" ng-model="verification.description" name="text" cols="10" rows="2" placeholder="Ange en beskrivning" style="resize: vertical;"></textarea>
                    </div>
                </div>
                <div class="form-group" ng-show="form.errors.verificationdate !== null">
                    <div class="col-sm-3"></div><!-- Offset -->
                    <div class="col-sm-9">
                        <span class="error">{{form.errors.verificationdate}}</span>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width:30%">Konto</th>
                            <th style="width:30%">Debet</th>
                            <th style="width:30%">Kredit</th>
                            <th style="width:10%"></th><!-- Offset -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="post in verification.posts track by $index">
                            <td>
                                <div class="input-group">
                                    <input class="form-control" type="text" value="{{accountls[$index]}}" readonly>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary" ng-click="open($index)">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-show="!accountls[$index]"></span>
                                            <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-show="accountls[$index]"></span>
                                        </button>
                                    </div>
                                </div>    
                            </td>
                            <td>
                                <input type="number" class="form-control" step="0.01" ng-model="post.debit"/>
                            </td>
                            <td>
                                <input type="number" class="form-control" step="0.01" ng-model="post.credit"/>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="removeRow(post)" ng-show="verification.posts.length > 2">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <span class="label label-warning" ng-show="sumDebit() !== sumCredit()">Debit och kredit måste vara lika</span> &nbsp;
                            </td>
                            <td>
                                Totalt: {{sumDebit()}}
                            </td>
                            <td>
                                Totalt: {{sumCredit()}}
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" ng-click="addRow()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <div class="btn-group">
                        <button type="button" class="btn btn-success" ng-click="create()" ng-disabled="sumDebit() !== sumCredit()">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Skapa
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>