<!--Body content-->
<div>
    <h2>Användar inställingar</h2>
    <ul class="nav nav-tabs nav-justified" style="margin-top: 10px;">
        <li role="presentation" ng-class="{active: !activeli}" ng-click="activeli = false"><a href="">Lösenord</a></li>
        <li role="presentation" ng-class="{active: activeli}"><a href="" ng-click="activeli = true">Email</a></li>
    </ul>
    <div class="row" ng-show="!activeli">
        <div class="col-md-6">
            <h3>Ändra lösenord</h3>
            <div class="alert alert-success" role="alert" ng-show="form.numErrors === 0">
                Ändringarna har sparats!
            </div>
            <div class="alert alert-danger" role="alert" ng-show="form.numErrors > 0">
                <h4>{{form.numErrors}} fel hittades!</h4>
                <p>{{form.errors.general}}</p>
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="newpasswd">Nytt lösenord</label>
                    </div>
                    <div class="col-sm-9">
                        <input id="newpasswd" class="form-control" ng-model="user.newpasswd" ng-change="passwdstrength(user.newpasswd)" type="password" value="{{user.newpasswd}}" placeholder="Ange ett lösenord"/>
                    </div>
                </div>
                <div class="form-group" ng-show="form.errors.newpasswd !== null">
                    <div class="col-sm-3"></div><!-- Offset -->
                    <div class="col-sm-9">
                        <span class="error">{{form.errors.newpasswd}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">Lösenordsstyrka</div>
                    <div class="col-sm-9">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;" ng-show="passwdstrength.one"></div>
                            <div class="progress-bar" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%;" ng-show="passwdstrength.two"></div>
                            <div class="progress-bar" role="progressbar" aria-valuenow="34" aria-valuemin="0" aria-valuemax="100" style="width: 34%;" ng-show="passwdstrength.three"></div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="newpasswd2">Bekräfta lösenordet</label>
                    </div>
                    <div class="col-sm-9">
                        <input id="newpasswd2" class="form-control" ng-model="user.newpasswd2" type="password" value="{{user.newpasswd2}}" placeholder="Ange lösenordet igen"/>
                    </div>
                </div>
                <div class="form-group" ng-show="form.errors.newpasswd2 !== null">
                    <div class="col-sm-3"></div><!-- Offset -->
                    <div class="col-sm-9">
                        <span class="error">{{form.errors.newpasswd2}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div><!-- Offset -->
                    <div class="col-sm-9">
                        För att kunna ändra lösenordet måste du ange ditt nuvarande lösenord.
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="passwd">Nuvarande lösenord</label>
                    </div>
                    <div class="col-sm-9">
                        <input id="passwd" class="form-control" ng-model="user.passwd" type="password" value="{{user.passwd}}" placeholder="Ange ditt nuvarande lösenord"/>
                    </div>
                </div>
                <div class="form-group" ng-show="form.errors.passwd !== null">
                    <div class="col-sm-3"></div><!-- Offset -->
                    <div class="col-sm-9">
                        <span class="error">{{form.errors.passwd}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div><!-- Offset -->
                    <div class="col-sm-9">
                        <input type="button" value="Ändra" class="btn btn-primary btn-block" ng-click="edit()"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h3>Välj ett säkert lösenord!</h3>
            <ul>
                <li>Ett säkert lösenord har både stora och små bokstäver samt siffror.</li>
            </ul>
        </div>
    </div>
    <!-- ** EDIT EMAIL ** -->
    <div class="row" ng-show="activeli">
        <div class="col-md-6">
            <h3>Ändra email</h3>
            <div class="alert alert-success" role="alert" ng-show="form.numErrors === 0">
                Ändringarna har sparats!
            </div>
            <div class="alert alert-danger" role="alert" ng-show="form.numErrors > 0">
                <h4>{{form.numErrors}} fel hittades!</h4>
                <p>{{form.errors.general}}</p>
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="email">E-post adress</label>
                    </div>
                    <div class="col-sm-9">
                        <input id="email" class="form-control" ng-model="user.email" type="text" placeholder="Ange ett ny e-post adress"/>
                    </div>
                </div>
                <div class="form-group" ng-show="form.errors.email !== null">
                    <div class="col-sm-3"></div><!-- Offset -->
                    <div class="col-sm-9">
                        <span class="error">{{form.errors.email}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div><!-- Offset -->
                    <div class="col-sm-9">
                        För att kunna ändra lösenordet måste du ange ditt nuvarande lösenord.
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="passwd">Nuvarande lösenord</label>
                    </div>
                    <div class="col-sm-9">
                        <input id="passwd" class="form-control" ng-model="user.passwd" type="password" value="{{user.passwd}}" placeholder="Ange ditt nuvarande lösenord"/>
                    </div>
                </div>
                <div class="form-group" ng-show="form.errors.passwd !== null">
                    <div class="col-sm-3"></div><!-- Offset -->
                    <div class="col-sm-9">
                        <span class="error">{{form.errors.passwd}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div><!-- Offset -->
                    <div class="col-sm-9">
                        En kod kommer att skickas till din nuvarande e-post adress. 
                        Du behöver denna för att slutföra ändringen av e-post adressen!
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3"></div><!-- Offset -->
                    <div class="col-sm-9">
                        <input type="button" value="Skicka kod" class="btn btn-primary btn-block" ng-click="editemail()"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6"></div><!-- Offset -->
    </div>
    
    <script type="text/ng-template" id="emailModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Ange en kod för att forsätta!</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-info" role="alert">
                {{error}}
            </div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-3">
                        <label for="accesskey">Kod</label>
                    </div>
                    <div class="col-sm-9">
                        <input id="accesskey" class="form-control" ng-model="accesskey" type="text" placeholder="Ange koden"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <button class="btn btn-primary" ng-click="resend()">Skicka om koden</button>
                <button class="btn btn-primary" ng-click="edit()" ng-disabled="!accesskey">Ändra</button>
                <button class="btn btn-warning" ng-click="cancel()">Avbryt</button>
            </div>
        </div>
    </script>
</div>