<!--Body content-->
<div>
    <h1>Manuell bokföring</h1>
    <form class="form-horizontal">
        <table class="table">
            <thead>
                <tr>
                    <th style="width:30%">Konto</th>
                    <th style="width:30%">Debet</th>
                    <th style="width:30%">Kredit</th>
                    <th style="width:10%"></th><!-- Offset -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in getNumber(rows) track by $index">
                    <td>
                        <select class="form-control">
                            <option>Account1</option>
                            <option>Account2</option>
                        </select>
                    </td>
                    <td>
                            <input type="number" class="form-control" step="0.01" value="{{post.debit[$index]}}" ng-model="post.debit[$index]" ng-change="refreshSumDebit()"/>
                    </td>
                    <td>
                            <input type="number" class="form-control" step="0.01" ng-model="post.kredit[$index]"/>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="removeRow($index)" ng-show="$index===(rows-1) && $index>=2">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Ta bort
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <span class="label label-warning" ng-show="sumDebit() !== sumKredit()">Debit och kredit måste vara lika</span> &nbsp;
                    </td>
                    <td>
                        Totalt: {{sumDebit()}}
                    </td>
                    <td>
                        Totalt: {{sumKredit()}}
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="btn-group">
                <a href="#userpage" class="btn btn-default">Tillbaka</a>
                <button type="button" class="btn btn-success" ng-click="addRow()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Lägg till en rad!
                </button>
                <input type="button" value="Skapa" class="btn btn-primary" ng-click="create()"/>
            </div>
    </form>
</div>