<!--Body content-->
<div>
    <h1>Manuell bokföring</h1>
    <div class="alert alert-success" role="alert" ng-show="form.numErrors === 0">
        Verifikationen har skapats!
    </div>
    <div class="alert alert-danger" role="alert" ng-show="form.numErrors > 0">
        <h4>{{form.numErrors}} fel hittades!</h4>
        <p>{{form.errors.general}}</p>
        <p>{{form.errors.todo}}</p>
    </div>
    <form class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                <label>Datum</label>
            </div>
            <div class="col-md-9">
                <input type="date" class="form-control" value="{{verification.transactionDate}}" ng-model="verification.transactionDate"/>
            </div>
        </div>
        <div class="form-group" ng-show="form.errors.newpasswd !== null">
            <div class="col-sm-3"></div><!-- Offset -->
            <div class="col-sm-9">
                <span class="error">{{form.errors.verificationdate}}</span>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th style="width:30%">Konto</th>
                    <th style="width:30%">Debet</th>
                    <th style="width:30%">Kredit</th>
                    <th style="width:10%"></th><!-- Offset -->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in getNumber(rows) track by $index">
                    <td>
                        <div class="row">
                            <div class="col-sm-8">
                                <input class="form-control" type="text" value="{{verification.posts[$index].account.name}}" readonly>
                            </div>
                            <div class="col-sm-4">
                                <button class="btn btn-primary" ng-click="open($index)">Välj</button>
                            </div>
                        </div>    
                    </td>
                    <td>
                        <input type="number" class="form-control" step="0.01" value="{{verification.posts[$index].debit}}" ng-model="verification.posts[$index].debit"/>
                    </td>
                    <td>
                        <input type="number" class="form-control" step="0.01" ng-model="verification.posts[$index].credit"/>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" ng-click="removeRow($index)" ng-show="$index===(rows-1) && $index>=2">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Ta bort
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        <span class="label label-warning" ng-show="sumDebit() !== sumCredit()">Debit och kredit måste vara lika</span> &nbsp;
                    </td>
                    <td>
                        Totalt: {{sumDebit()}}
                    </td>
                    <td>
                        Totalt: {{sumCredit()}}
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div class="btn-group">
                <a href="#userpage" class="btn btn-default">Tillbaka</a>
                <button type="button" class="btn btn-success" ng-click="addRow()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Lägg till en rad!
                </button>
                <input type="button" value="Skapa" class="btn btn-primary" ng-click="create()"/>
            </div>
    </form>
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Välj konto</h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-3">
                    <div class="btn-group">
                        <label class="btn btn-primary" ng-model="radioModel" btn-radio="0">Nummer</label>
                        <label class="btn btn-primary" ng-model="radioModel" btn-radio="1">Namn</label>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="input-group">
                        <input type="number" class="form-control" ng-model="account.number" ng-show="radioModel == 0" ng-change="autosearch()"/>
                        <input type="text" class="form-control" ng-model="account.name" ng-show="radioModel == 1" ng-change="autosearch()"/>
                        <div class="input-group-btn">
                            <button class="btn btn-primary" ng-click="search()" ng-disabled="!account.number && !account.name">Sök</button>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                    <th style="width:40%;">Konto nummer</th>
                    <th style="width:40%;">Konto namn</th>
                    <th style="width:20%;"></th>
                </thead>
                <tbody>
                    <tr ng-repeat="account in accounts">
                        <td>{{account.number}}</td>
                        <td>{{account.name}}</td>
                        <td><button class="btn btn-success" ng-click="selected.account = account">Välj</button></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
        <div class="modal-footer">
            <div class="col-sm-6" style="text-align:left;">
                Du har valt: <b>{{selected.account.name}}</b>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-primary" ng-click="ok()" ng-disabled="!selected.account">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Avbryt</button>
            </div>
        </div>
    </script>
</div>