<!--Body content-->
<div>
    <div class="row">
        <div class="col-md-7">
            <h2>Dina verifikationer</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:15%;">Nr</th>
                        <th style="width:25%;">Transaktion datum</th>
                        <th style="width:20%;">Summa</th>
                        <th style="width:25%;">Skapades</th>
                        <th style="width:15%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="verification in verifications">
                        <td>{{verification.id}}</td>
                        <td>{{verification.transactionDate}}</td>
                        <td>{{verification.sum}}</td>
                        <td>{{verification.creationDate}}</td>
                        <td>
                            <input type="button" value="Visa" class="btn btn-primary" ng-click="showverinfo(verification.id)"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5" ng-show="showverinfoboolean">
            <h2>Verifikations information - Nr {{verinfo.id}}</h2>
            <h3>Debet</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:60%;">Konto</th>
                        <th style="width:40%;">Belopp</th>
                    </tr>
                </thead>
                <tr ng-repeat="debitpost in verinfo.debitposts">
                    <td>{{debitpost.accountid}} - {{debitpost.accountname}}</td>
                    <td>{{debitpost.sum}}</td>
                </tr>
            </table>
            <h3>Kredit</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width:60%;">Konto</th>
                        <th style="width:40%;">Belopp</th>
                    </tr>
                </thead>
                <tr ng-repeat="creditpost in verinfo.creditposts">
                    <td>{{creditpost.accountid}} - {{creditpost.accountname}}</td>
                    <td>{{creditpost.sum}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>