<div class="modal-header">
    <div class="row">
        <div class="col-sm-6" style="text-align:left;">
            <h3 class="modal-title">Välj kund</h3>
        </div>
        <div class="col-sm-6" style="text-align: right;">
            <button class="btn btn-dz" ng-click="cancel()">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row">
        <label for="name" class="col-sm-3 control-label">Namn</label>
        <div class="col-sm-9">
            <div class="input-group">
                <input type="text" id="name" class="form-control" ng-model="customer.name" ng-change="autosearch()"/>
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="search()" ng-disabled="!customer.name">Sök</button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th style="width:25%;">Kundnummer</th>
                <th style="width:55%;">Namn</th>
                <th style="width:20%;"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in customers">
                <td>{{customer.customernumber}}</td>
                <td>{{customer.name}}</td>
                <td><button class="btn btn-success" ng-click="selected(customer)" ng-show="customer">Välj</button></td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="maxsize" items-per-page="10" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" ng-change="pageChanged()" ng-show="maxsize > 10"></pagination>
</div>